html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
    font-family: 'Ubuntu' !important;
}

#cloud-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-x: hidden;
}

.seccion-principal-nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.menu{
    background-color: grey;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 3;
    opacity: 0.8;
}

.menu-ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu-li{
    margin: 5px;
}

.menu-a{
    text-decoration: none;
    color: white;
}

.logo{
    background-color: rgb(85, 85, 85);
    padding-left: 5px;
    padding-right: 5px;
    height: 75px;
    width: 75px;
}

/* ------------------------------------ Animacion ............................. */

.toro{
    position: absolute;
    height: 37%;
    width: 44%;
    left: 7%;
    top: 37%;
}

.cara{
    position: absolute;
    height: 15%;
    width: 20%;
    left: 10.2%;
    top: 50.4%;
    opacity: 0;
    z-index: 0;

    animation-name: parpadeo;
    animation-duration: 0.2s;
    animation-delay: 1s;
}

.nariz{
    position: absolute;
    height: 6%;
    width: 9%;
    left: 15.5%;
    top: 59%;
    z-index: 1;
    
  animation-name: nariz;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

@keyframes nariz {
    20%  {
        height: 7%; 
        width: 10%;
        left: 15%;
        top: 58%;}
    50%{
        height: 6%;
        width: 9%;
        left: 15.5%;
        top: 59%;
    }
    100%{
        height: 6%;
        width: 9%;
        left: 15.5%;
        top: 59%;
    }
  }

.humo-derecha{
    position: absolute;
    height: 10%;
    width: 10%;
    left: 23%;
    top: 52%;
    opacity: 0;
    z-index: 1;

    animation-name: humos;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.humo-izquierda{
    position: absolute;
    height: 10%;
    width: 10%;
    left: 7%;
    top: 52%;
    transform: scaleX(-1);
    opacity: 0;
    z-index: 1;

    animation-name: humos;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes humos {
    20%  {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
  }

  /* ------------------------------------ Animacion ............................. */

#inicio{
      background-color: rgb(177, 132, 95);
  }

#about{
    background-color: rgb(255, 184, 92);
}

#proyectos{
    background-color: antiquewhite;
}

#contacto{
    background-color: rgb(255, 184, 92);
}
