.aptitudes{
    background-color: rgb(52, 122, 235);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-aptitudes{
    margin-top: 2%;
    margin-bottom: 2%;
    color: aliceblue;
    font-size: 300%;
}

.parrafo-aptitudes{
    margin-top: 2%;
    width: 70%;
    color: aliceblue;
    text-align: center;
    font-size: 125%;
}


.cartas{
    background-color: aliceblue;
    width: 27.5%;
    border-radius: 30px;
    margin: 1%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0px 0px 5px 5px rgba(205, 205, 205, 0.5);
}
.front-icon{
    width: 40%;
}

.parrafo-descripcion{
    margin-bottom: 5%;
}

.titulo-carta{
    margin: 5%;
}

.carousel-item{
    text-align: -webkit-center;
}

.carousel-container{
    margin-top: 1%;
    height: 100%;
    width: 100%;
}